section{
  display: flex;
  justify-content: center;
}
section .container{
  background-color: white;
  padding: 30px 30px;
}
.sobre h1{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}
.sobre h2{
  font-size: 20px;
  font-weight: 400;
}