html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*pode ser transparent também*/
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--color-texts) !important;
    background-color: var(--background-color) !important;
    transition: .2s ;
}
.container {
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    height: auto;
    box-sizing: border-box;
}
.space-100{
    width: 100%;
    height: 100px;
}
.space-150{
    width: 100%;
    height: 150px;
}
.row {
    width: 100%;
    display: flex;
    justify-content: left;
}
.row-left {
    width: 100%;
    display: flex;
    justify-content: left;
}
.row-center {
    width: 100%;
    display: flex;
    justify-content: center;
}
.row-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    font-weight: 500;
}

/* BANNER */
#banner-section{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.banner-box{
    height: 100px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    border: 1px solid var(--color-border-to-darkmode);
    color: var(--color-texts);
    font-family: var(--font-family);
    border-radius: 5px;
    background-color: var(--softdark-background-color);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.image-template-box{
    width: 100%;
    height: 165px;
    color: var(--orange-color);
    letter-spacing: 3px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
/* STORE */
#store {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    position: relative;
    padding-bottom: 200px;
}
#store .container {
    background-color: var(--background-color);
}
.filter {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.filter form{
    display: flex;
    height: 100%;
}
.filter a{
    text-decoration: none;
}
.filter-buttons-group{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.filter-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 1px solid var(--color-texts);
    border-radius: 5px;
    padding: 3px 15px;
    margin-right: 10px;
    transition: .2s;
    color: var(--color-texts);
    background-color: var(--softdark-background-color);
}
.dropdown-menu {
    background-color: var(--softdark-background-color) !important;
    border: 1px solid var(--color-border-to-darkmode) !important;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    animation-name: slidenavAnimation;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    transition: .2s;
  
    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
  
    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: .2s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
    from {
      opacity: 0;
     
    }
    to {
      opacity: 1;
      
    }
  }
  @-webkit-keyframes slidenavAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.button-dropdown {
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
}
.button-dropdown:hover {
    border: 1px solid var(--orange-color) !important;
    background-color: var(--filtrar-button-on-hover) !important;
}
.button-dropdown:focus {
    box-shadow: 0 0 0 3px rgba(255, 124, 31, .3);
    -webkit-box-shadow:  0 0 0 3px rgba(255, 124, 31, .3);
    -moz-box-shadow:  0 0 0 3px rgba(255, 124, 31, .3);
}
.filter-button:hover {
    background-color: var(--color-texts);
    color: var(--color-texts-on-hover);
}
.btn-check:active+.btn-outline-dark:focus, .btn-check:checked+.btn-outline-dark:focus, .btn-outline-dark.active:focus, .btn-outline-dark.dropdown-toggle.show:focus, .btn-outline-dark:active:focus, .btn-check:focus+.btn-outline-dark, .btn-outline-dark:focus {
    box-shadow: none !important;
}
.submit-button-filter {
    display: none;
}
.inputs-form-filter{
    display: none;
}
.dropdown-item-title{
    font-weight: 500 !important;
    margin-top: 10px;
    color: var(--color-texts);
}
.dropdown-line{
    width: 100%;
    padding: 5px 15px;
}
.dropdown-line-item{
    display: flex;
}
.dropdown-menu label {
    cursor: pointer;
    user-select: none;
    transition: .2s;
    display: flex;
    align-items: center;
}
.dropdown-menu label:hover {
    background-color: var(--label-filter-bgcolor);
}
.dropdown-line-item span{
    transition: .2s;
    margin-left: 10px;
    color: var(--color-texts);
}
.dropdown-line-item input{
    cursor: pointer;
}
/* DROPDOWN BUTTON */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .dropdown-checkbox {
        --active: var(--orange-color);
        --active-inner: #fff;
        --focus: 2px rgba(255, 124, 31, .3);
        --border: var(--color-texts);
        --border-hover: var(--orange-color);
        --background: #fff;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
   }
    .dropdown-checkbox:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
   }
    .dropdown-checkbox:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
   }
    .dropdown-checkbox:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
   }
    .dropdown-checkbox:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
   }
    .dropdown-checkbox:disabled + label {
        cursor: not-allowed;
   }
    .dropdown-checkbox:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
   }
    .dropdown-checkbox:focus {
        box-shadow: 0 0 0 var(--focus);
        -webkit-box-shadow:  0 0 0 var(--focus);
        -moz-box-shadow:  0 0 0 var(--focus);
   }
    .dropdown-checkbox:not(.switch) {
        height: 18px;
        width: 18px;
   }
    .dropdown-checkbox:not(.switch):after {
        opacity: var(--o, 0);
   }
    .dropdown-checkbox:not(.switch):checked {
        --o: 1;
   }
    .dropdown-checkbox + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
   }
    .dropdown-checkbox:not(.switch) {
        border-radius: 7px;
   }
    .dropdown-checkbox:not(.switch):after {
        width: 6px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 5px;
        top: 2px;
        -webkit-transform: rotate(var(--r, 20deg));
        transform: rotate(var(--r, 20deg));
   }
    .dropdown-checkbox:not(.switch):checked {
        --r: 43deg;
   }
    .dropdown-checkbox.switch {
        width: 38px;
        border-radius: 11px;
   }
    .dropdown-checkbox.switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
   }
    .dropdown-checkbox.switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
   }
    .dropdown-checkbox.switch:disabled:not(:checked):after {
        opacity: 0.6;
   }
}


.limparButton {
    width: min-content;
    height: 100%;
    margin-right: 10px;
    font-family: var(--font-family);
    cursor: pointer;
    transition: 0.2s;
    outline: 0;
    background-color: rgb(0, 204, 255, 0);
    border: 1px solid var(--color-texts);
    color: var(--color-texts);
    padding: 0 10px;
    font-size: 15px;
}
.limparButton:hover{
    background-color: var(--color-texts);
    color: var(--color-texts-on-hover);
}
.select {
    font-family: var(--font-family);
    color: var(--color-texts);
    padding: 0 5px;
    font-size: 15px;
    outline: 0;
    margin-right: 10px;
    background-color: var(--background-color) !important;
    border: 1px solid var(--color-texts);
}
.products-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
    margin-bottom: 30px;
    background-color: var(--background-color);
}
.anuncio-box {
    padding: 35px 10px 10px 10px;
    /* border: 2px solid;
    border-image-source: linear-gradient(45deg, rgb(255, 102, 0), rgb(255, 230, 0));
    border-image-slice: 1; */
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    border: 1px solid var(--color-border-to-darkmode);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--softdark-background-color);
    transition: .2s;
}
.anuncio-box:hover {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    border: 1px solid #ababab;
}
.anuncio-box a{
    text-decoration: none;
}
.anuncio-box img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    overflow: hidden;
}
.anuncio-box h1{
    padding: 5px;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--color-texts);
    margin-bottom: 5px;
}
.anuncio-box h2 {
    font-weight: 400;
    color: var(--price-color);
    font-size: 1.2em;
    margin: 0;
}
.anuncio-box h3{
    margin-top: 8px;
    padding: 0;
    font-weight: 500;
    font-size: 1em;
    margin: 0;
    color: var(--color-texts);
}
.anuncio-box h4{
    text-decoration: line-through;
    text-align: center;
    color: var(--offer-color);
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 3px;
}
.anuncio-plataforma{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0 10px;
    height: min-content;
    margin: 0 !important;
    font-weight: 600;
    color: var(--color-texts);
}
.see-more {
    font-family: var(--font-family);
    color: var(--color-texts);
    font-weight: 500;
    font-size: 1em;
    outline: 0;
    border: 1px solid var(--color-texts);
    border-radius: 5px;
    padding: 5px 30px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.see-more-link {
    margin-top: 10px;
    margin-bottom: 1px;
}
.see-more:hover {
    background: var(--color-texts);
    color: var(--color-texts-on-hover);
}
.alertaAnuncio{
    color: var(--color-texts);
    font-weight: 400 !important;
    margin-top: 30px;
    margin-bottom: 50px;
}
.without-anuncios{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--offer-color);
}
.pagination-inputs-box{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 16px;
}
.pagination-inputs-box a{
    text-decoration: none;
}
.box-between-pagination-buttons {
    width: auto;
    height: 100%;
    padding: 0 6px;
    color: var(--color-texts);
    border: 1px solid var(--color-texts);
    background-color: var(--softdark-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-between-pagination-buttons span{
    margin: 0 4px;
    font-weight: 500;
}
.pagination-inputs{
    display: flex;
    height: 100%;
    outline: none;
}
.pagination-button{
    height: 100%;
    border: 0;
    background-color: var(--softdark-background-color);
    padding: 0 15px;
    font-family: var(--font-family);
    font-weight: 500;
    transition: .2s;
    color: var(--color-texts);
}
.pagination-button:hover{
    background-color: var(--color-texts);
    color: var(--color-texts-on-hover);
}
.pagination-button-right{
    border-radius: 0 5px 5px 0;
    border-top: 1px solid var(--color-texts);
    border-right: 1px solid var(--color-texts);
    border-bottom: 1px solid var(--color-texts);
}
.pagination-button-left{
    border-radius: 3px 0 0 3px;
    border-top: 1px solid var(--color-texts);
    border-left: 1px solid var(--color-texts);
    border-bottom: 1px solid var(--color-texts);
}
.pagination-button-left-disabled{
    border-top: 1px solid var(--color-pagination-button-disabled);
    border-left: 1px solid var(--color-pagination-button-disabled);
    border-bottom: 1px solid var(--color-pagination-button-disabled);
    color: var(--color-pagination-button-disabled);
    cursor: default;
}
.pagination-button-right-disabled{
    border-top: 1px solid var(--color-pagination-button-disabled);
    border-right: 1px solid var(--color-pagination-button-disabled);
    border-bottom: 1px solid var(--color-pagination-button-disabled);
    color: var(--color-pagination-button-disabled);
    cursor: default;
}
.pagination-button-left-disabled:hover, .pagination-button-right-disabled:hover{
    background-color: var(--softdark-background-color);
    color: var(--color-pagination-button-disabled);
}
/* RODPÉ */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #272727;
    border-top: 1px solid #949494;
    font-family: var(--font-family);
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
}
footer .container{
    display: grid;
    height: 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80% 20%;
    grid-template-areas:
        "left right"
        "bottom .";
    background-color: #272727 !important;
}
footer h3{
    font-size: 1.2em;
    color: #efefef;
}
footer h5{
    font-size: 1em;
    font-weight: 400;
    color: #bebebe;
}
footer a{
    color: #bebebe;
    transition: .2s;
}
footer a:hover{
    color: #e2e2e2;
}
.footer-left{
    grid-area: left;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-right{
    grid-area: right;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-bottom{
    grid-area: bottom;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #bebebe;
    border-top: 1px solid #3e3e3e;
}
.footer-bottom h6{
    font-size: 0.9em;
    font-weight: 300;
    margin: 0;
}
body::-webkit-scrollbar {
    width: 10px;
    
}

body::-webkit-scrollbar-track {
    background: var(--softdark-background-color);
    border-left: 1px solid var(--color-texts) !important;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-texts);    /* color of the scroll thumb */
    border-radius: 0;       /* roundness of the scroll thumb */
    border: 0;  /* creates padding around scroll thumb */
}
@media(max-width: 667px) and (min-width:435px) {
    .limparButton{
        margin-top: 5px;
        margin-left: 0;
        height: min-content;
        padding: 5px 10px;
    }
    .anuncio-box{
        margin: 30px 10px;
        padding: 20px 10px 10px 10px;
        width: 150px;
        border: 2px solid;
        border-image-source: linear-gradient(45deg, rgb(255, 102, 0), rgb(255, 230, 0));
        border-image-slice: 1;
        display: flex;
        flex-direction: column;

    }
    .anuncio-box h1 {
        padding: 5px;
        font-size: 0.9rem;
    }
    .anuncio-box h2 {
        font-size: 1.2rem;
    }
    .anuncio-box h3{
        font-size: 16px ;
    }
    .see-more {
        font-size: 0.8rem;
        width: 100%;
    }
    .see-more:hover {
        transform: scale(1.1);
        padding: 5px 30px;
    }
    .credits {
        margin-top: 10px;
        padding: 10px 20px;
        border-top: 1px solid;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;

    }
    .credits h4{
        font-weight: 400;
        font-size: 13px !important;
        text-align: center;
    }

}
@media(max-width: 435px) {
    .select{
        margin-left: 0;
        width: 100%;
        margin: 5px;
    }
    .limparButton{
        margin-top: 5px;
        margin-left: 0;
        height: min-content;
        padding: 5px 10px;
    }
    .anuncio-box{
        margin: 30px 5px;
        padding: 10px;
        width: 100px;
        border: 2px solid;
        border-image-source: linear-gradient(45deg, rgb(255, 102, 0), rgb(255, 230, 0));
        border-image-slice: 1;
        display: flex;
        flex-direction: column;
    }
    .anuncio-box h1 {
        padding: 5px;
        font-size: 0.9rem;
        text-align: center;
    }
    .anuncio-box h2 {
        font-size: 1.1rem;
    }
    .anuncio-box h3{
        font-size: 14.5px ;
    }
    .see-more {
        font-size: 0.8rem;
        padding: 5px 15px;
    }
    .see-more:hover {
        transform: scale(1.1);
        padding: 5px 15px;
    }
    footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: white;
        background-color: #1c1c1c;
    }
    footer .container{
        display: flex;
        flex-direction: column;
    }
    footer h1{
        margin-top: 20px;
        font-size: 20px !important;
    }
    footer h3{
        font-size: 15px !important;
        font-weight: 400;
    }
    footer img{
        margin: 5px;
        width: 25px;
    }
}









