:root {
    --color-texts: #525252;
    --color-texts-on-hover: white;
    --orange-color: #ff7c1f;
    --price-color: #ff7c1f;
    --font-family: 'Poppins', sans-serif !important;
    --background-color: #ebebeb;
    --white-background-color: white;
    --offer-color: #ff481f;
    --softdark-background-color: white;
    --label-filter-bgcolor: #dbdbdb;
    --filtrar-button-on-hover: #ff7c1f;
    --color-border-to-darkmode: white;
}